.list-container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  height: 100%;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-title {
  margin: 0;
  color: #1C3973;
}

.list-search-bar {
  width: 30%;
  background: white;
  padding: 0.7rem 1rem;
  margin: 0; 
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: 0.25s ease;
  color: #111;
}

.list-search-bar:focus {
  border-color: #4565c3;
  box-shadow: 0 0 5px rgba(69, 101, 195, 0.4);
}

.list-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 80%;
}


@media (max-width: 900px) {
  .list-search-bar {
    width: auto;
  }

  .list-container {
    padding: 1rem;
    height: auto;
  }

  .list-content {
    max-height: 70vh;
  }

  .list-header {
    flex-direction: column;
    gap: 0.6rem;
    align-items: stretch;
  }

  .list-header-right {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 600px) {
  .list-search-bar {
    width: auto;
  }

  .list-content {
    max-height: 70vh;
  }
}
