html, body {
  height: 100%;
  overflow: hidden;
}

#root {
  max-width: 1280px;
  height: 90vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  flex-direction: row;
}

.taskInput {
  padding: 0.5rem;
  font-size: 1rem;
  width: 300px;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.todoBody {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  width: 550px;
  height: 85vh;
  margin: 0 auto;
  overflow: hidden; 
}

.counterButtons {
  margin: 0 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.counterBody {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
}

.todoList {
  flex: 1;
  overflow-y: auto;
  margin-top: 1rem;
  padding-right: 0.5rem; 
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.7;
}