.toggle-icon {
  position: absolute;
  top: 65%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.25s ease;
}

.toggle-icon img {
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.icon-img {
  width: 22px;
  height: 22px;
  opacity: 0.75;
}

.icon-img:hover {
  opacity: 1;
}