html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #1C3973, #2F68AD);
}

.gradient-btn {
  padding: 0.9rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background: linear-gradient(135deg, #1C3973, #2F68AD);
}

.gradient-btn:hover {
  opacity: 0.7;
  transition: 1s ease;
}

.gradient-btn:focus,
.gradient-btn:active {
  outline: none;
}

.gradient-btn-unfocus {
  background: #6B8FBE;
}

.gradient-btn:disabled {
  background: linear-gradient(135deg, #8fa3c7, #b3c3dd); /* softer, muted gradient */
  cursor: not-allowed;
  opacity: 0.6;
  filter: grayscale(30%);
  pointer-events: none; /* no hover effects */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(0.4);
  cursor: pointer;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
}

.input-field {
  width: 100%;
  margin-top: 1rem;
  padding: 0.9rem;
  border-radius: 25px;
  border: 1px solid #ddd;
  font-size: 1rem;
  background: #f5f5ff;
  color: #333;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
  border-color: #6a5af9;
  box-shadow: 0 0 5px rgba(106, 90, 249, 0.5);
}

.input-field::placeholder {
  color: #696464ff;
} 

.input-field:disabled {
  background: #e0e0e0;
  cursor: not-allowed;
}

.loader-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.loader {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 4px solid #ddd;
  border-top-color: #4565C3;
  animation: spinLoader 1s linear infinite;
}

@keyframes spinLoader {
  to {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #1C3973, #2F68AD);
  color: white;
  cursor: pointer;
  transition: 0.25s ease;
}

.pagination button:disabled {
  background: #7c8db5;
  cursor: not-allowed;
}

.pagination button:focus {
  outline: none;
}

.pagination span {
  font-weight: 600;
  color: #1C3973;
}


@media (max-width: 480px) {
  #root {
    height: auto;
    padding: 1rem;
  }

  .input-field {
    font-size: 0.9rem;
    padding: 0.7rem;
  }

  .pagination {
    gap: 0.5rem;
  }
}

@media (max-width: 900px) {
  #root {
    padding: 0 2rem;
    overflow-y: auto;
  }

  .input-field {
    font-size: 1rem;
  }

  .pagination button {
    padding: 0.5rem 1rem;
  }

  .gradient-btn {
    width: 100%;
    border-radius: 20px;
  }
}
